# Ignore Node.js and React-related files and folders
/frontend/gms/node_modules/
/frontend/gms/build/
/frontend/gms/.env
/frontend/gms/.env.local
/frontend/gms/.env.development.local
/frontend/gms/.env.test.local
/frontend/gms/.env.production.local
/frontend/gms/yarn-error.log
/frontend/gms/.yarnrc
/frontend/gms/.yarn/
/frontend/gms/.pnp.*
/frontend/gms/.cache/
/frontend/gms/dist/

# Ignore Spring Boot-related files and folders
/backend/gms/target/
/backend/gms/.mvn/
/backend/gms/.idea/
/backend/gms/.classpath
/backend/gms/.project
/backend/gms/.settings/
/backend/gms/*.iml

# Ignore generated and temporary files
*.log
*.swp
*.tmp

# Ignore IDE-specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.suo
*.user
*.userosscache
*.suo
*.sln.docstates
