@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root{
    --gradient: background: rgba(51, 181, 214, 1);
    background: -moz-linear-gradient(
      -45deg,
      rgba(51, 181, 214, 1) 0%,
      rgba(126, 52, 145, 1) 86%,
      rgba(126, 52, 145, 1) 98%,
      rgba(126, 52, 145, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      right bottom,
      color-stop(0%, rgba(51, 181, 214, 1)),
      color-stop(86%, rgba(126, 52, 145, 1)),
      color-stop(98%, rgba(126, 52, 145, 1)),
      color-stop(100%, rgba(126, 52, 145, 1))
    );
    background: -webkit-linear-gradient(
      -45deg,
      rgba(51, 181, 214, 1) 0%,
      rgba(126, 52, 145, 1) 86%,
      rgba(126, 52, 145, 1) 98%,
      rgba(126, 52, 145, 1) 100%
    );
    background: -o-linear-gradient(
      -45deg,
      rgba(51, 181, 214, 1) 0%,
      rgba(126, 52, 145, 1) 86%,
      rgba(126, 52, 145, 1) 98%,
      rgba(126, 52, 145, 1) 100%
    );
    background: -ms-linear-gradient(
      -45deg,
      rgba(51, 181, 214, 1) 0%,
      rgba(126, 52, 145, 1) 86%,
      rgba(126, 52, 145, 1) 98%,
      rgba(126, 52, 145, 1) 100%
    );
    background: linear-gradient(
      135deg,
      rgba(51, 181, 214, 1) 0%,
      rgba(126, 52, 145, 1) 86%,
      rgba(126, 52, 145, 1) 98%,
      rgba(126, 52, 145, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33b5d6', endColorstr='#7e3491', GradientType=1 );
  }


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgb(0, 213, 255) , rgb(255, 0, 217));
  /* background: rgba(51, 181, 214, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(51, 181, 214, 1) 0%,
    rgba(126, 52, 145, 1) 86%,
    rgba(126, 52, 145, 1) 98%,
    rgba(126, 52, 145, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(51, 181, 214, 1)),
    color-stop(86%, rgba(126, 52, 145, 1)),
    color-stop(98%, rgba(126, 52, 145, 1)),
    color-stop(100%, rgba(126, 52, 145, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(51, 181, 214, 1) 0%,
    rgba(126, 52, 145, 1) 86%,
    rgba(126, 52, 145, 1) 98%,
    rgba(126, 52, 145, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(51, 181, 214, 1) 0%,
    rgba(126, 52, 145, 1) 86%,
    rgba(126, 52, 145, 1) 98%,
    rgba(126, 52, 145, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(51, 181, 214, 1) 0%,
    rgba(126, 52, 145, 1) 86%,
    rgba(126, 52, 145, 1) 98%,
    rgba(126, 52, 145, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(51, 181, 214, 1) 0%,
    rgba(126, 52, 145, 1) 86%,
    rgba(126, 52, 145, 1) 98%,
    rgba(126, 52, 145, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33b5d6', endColorstr='#7e3491', GradientType=1 ); */
}

.registration_form {
  padding: 1rem;
  width: 50%;
  background-color: aliceblue;
  box-shadow: -2px 7px 25px -9px rgba(0, 0, 0, 0.75);
  border-radius: 30px;
}

.heading {
  font-size: 1rem;
  padding: 1rem;
}

.heading h1 {
  /* text-decoration: underline; */
  color: black;
  font-weight: 500;
}

.heading h1 span{
    text-decoration: underline;
    text-decoration-color: var(--gradient);
}

.input_fields {
  padding: 1rem;
  width: 100%;
}

.input_fields form {
}

.content {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  gap: 3rem;
  width: 100%;
}

.top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 3rem;
  width: 100%;
  justify-content: space-between;
  row-gap: 1.5rem;
}

.input_area {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.input_area input {
  font-size: 12px;
  font-weight: 100;
  padding: 0.4rem;
  text-align: start;
  border: 1px solid grey;
  border-radius: 5px;
}
.gender {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.gender_radio_btns {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: flex-start;
  gap: 1rem;
}

.registraction_btn {
  text-align: center;
}
.registraction_btn input {
  width: 80%;
}
.registraction_btn input {
  background-image: linear-gradient(to right, rgb(0, 213, 255) , rgb(255, 0, 217));
  /* background: rgba(51, 181, 214, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(51, 181, 214, 1) 0%,
    rgba(126, 52, 145, 1) 86%,
    rgba(126, 52, 145, 1) 98%,
    rgba(126, 52, 145, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(51, 181, 214, 1)),
    color-stop(86%, rgba(126, 52, 145, 1)),
    color-stop(98%, rgba(126, 52, 145, 1)),
    color-stop(100%, rgba(126, 52, 145, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(51, 181, 214, 1) 0%,
    rgba(126, 52, 145, 1) 86%,
    rgba(126, 52, 145, 1) 98%,
    rgba(126, 52, 145, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(51, 181, 214, 1) 0%,
    rgba(126, 52, 145, 1) 86%,
    rgba(126, 52, 145, 1) 98%,
    rgba(126, 52, 145, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(51, 181, 214, 1) 0%,
    rgba(126, 52, 145, 1) 86%,
    rgba(126, 52, 145, 1) 98%,
    rgba(126, 52, 145, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(51, 181, 214, 1) 0%,
    rgba(126, 52, 145, 1) 86%,
    rgba(126, 52, 145, 1) 98%,
    rgba(126, 52, 145, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33b5d6', endColorstr='#7e3491', GradientType=1 ); */

  color: aliceblue;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;

  font-weight: 500;
  transition: 0.2s ease-in-out;
  border: none;
  border-radius: 10px;
}
.registraction_btn input:hover {
  background-color: rgb(255, 255, 255);
  font-weight: 700;
  scale: 1.05;
}

h1 {
  color: aqua;
}
