@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");

  /* NAVBAR CSS  */
.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #435463;
  padding: 2rem;
  height: 10vh;
}

.nav_links,
.dropbtn {
  background-color: #435463;
}
.nav_links button {
  border: none;
  font-size: 1rem;
}
.logo p {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Tilt Prism", cursive;
  color: aliceblue;
  background-color: #435463;
}
.link,
a {
  text-decoration: none;
  color: aliceblue;
  background-color: #435463;
}
.link:hover,
a:hover {
  color: grey;
}

.dropdown-content a {
  background-color: aliceblue;
}

.nav_links {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2.5rem;
  text-decoration: none;
  margin-right: 5.5rem;
}

.active-link {
  color: #fff; 
  text-decoration: underline;
}

.dropbtn {
  background: none;
  border: none;
  font-size: 1rem;
  color: aliceblue;
  /* background-color: black; */
  background-color: #435463;
}
.dropbtn:hover {
  color: gray;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 150px;
  /* margin-top: 5px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: aliceblue;
  /* background-color: #ebefd9; */
  border-radius: 10px;
  transition: .2s ease-in-out;
  /* color: black; */
}

.dropdown:hover .dropdown-content {
  display: block;
  
}
.dropdown-content a {
  display: block;
  /* color: black; */
  /* color: #2e4558; */
  color: #1d2b36;
  margin: 0.7rem;
}

.dropdown-content a:hover {
  color: #9ca2a7;;
}

a {
  text-decoration: none;
  color: aliceblue;
}

/* MODAL CSS  */

body.active-modal {
  overflow-y: hidden;
}

.dept-btn-modal {
  border: none;
  font-size: 1rem;
  background-color: black;
  color: aliceblue;
}

.dept-modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.8);
}

.dept-modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  border-radius: 10px;
  /* max-width: 600px; */
  padding: 2rem;
  /* max-width: 600px; */
  min-width: 350px;
}

/* .dept-btn-modal h1 {
  background-color: white;
  margin-top: 10px;
} */

.dept-btn-modal:hover {
  color: gray;
}

.dept-close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  border-radius: 10px;
  background-color: black;
  color: aliceblue;
  transition: 0.2s ease-in-out;
}

.dept-modal-content h2 {
  text-decoration: underline;
  color: #434343;
  font-weight: 700;
  background-color: #f1f1f1;
  margin-top: 1.5rem;
}

.dept-close-modal:hover {
  background-color: aliceblue;
  color: black;
}

.dept-modal-content form {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #f1f1f1;
}

.dept-modal-content form input {
  padding: 0.5rem;
  margin-bottom: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
  /* background: #f1f1f1; */
}

.dept-modal-content form label {
  background: #f1f1f1;
}

.dept-form-submit-btn {
  box-shadow: none;
  background-color: black;
  color: aliceblue;
  transition: 0.2s ease-in-out;
}

.dept-form-submit-btn:hover {
  background-color: aliceblue;
  color: black;
}
